n8n/workflows.json
{
  "name": "n8n",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-estimator",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "baa13e23-2895-443f-a1b1-e5efd64c9e57",
      "name": "AI Estimator Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2624,
        832
      ],
      "webhookId": "282fe99d-7ac6-41f8-9d74-fe54cbe9433d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "misApiUrl",
              "value": "http://backend:8000/mis/orders",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "backendApiUrl",
              "value": "http://backend:8000",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "csrEmail",
              "value": "csr@test.com",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "managerEmail",
              "value": "manager@test.com",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "opsEmail",
              "value": "ops@test.com",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "csrWaitHours",
              "value": 48,
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "customerWaitDays",
              "value": 3,
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "taskSystemUrl",
              "value": "<__PLACEHOLDER_VALUE__Airtable/Jira/Postgres task system URL__>",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "slackWebhookUrl",
              "value": "<__PLACEHOLDER_VALUE__Slack/Teams webhook URL (optional)__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "56de08dd-f6e5-49a5-8c30-09c2a280dfde",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2400,
        832
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.decision }}",
                    "rightValue": "=auto_approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f486265e-b520-438c-b408-e28526f3408b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Auto Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.decision }}",
                    "rightValue": "needs_review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c01b8e5f-9936-4188-92b2-f83a4a1b52b7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Needs Review"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.decision }}",
                    "rightValue": "rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e61adfe4-b949-4ebf-9f6f-32f299982767"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "id": "dc8a9e1f-190e-40cd-96f5-4d10d0c3b5a6",
      "name": "Route by Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2176,
        816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.misApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "=order-{{ $json.body.order_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "74ed6eeb-7d5a-4a24-91dd-a4cb830640ca",
      "name": "Send to MIS/ERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1952,
        640
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Workflow Configuration').first().json.backendApiUrl }}/orders/{{ $('AI Estimator Webhook').item.json.body.order_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"sent_to_mis\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "7fa3cd90-da90-4570-a736-b0dfcf21c573",
      "name": "Update Order Status - Auto Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1728,
        640
      ]
    },
    {
      "parameters": {
        "fromEmail": "sunnytomar0199@gmail.com",
        "toEmail": "={{ $('Workflow Configuration').item.json.opsEmail }}",
        "subject": "=[AI-Estimator] Order-{{ $('AI Estimator Webhook').item.json.body.order_id }} Auto Approved",
        "html": "=<h2>Order Auto-Approved</h2><p><strong>Order ID:</strong> {{ $('AI Estimator Webhook').item.json.body.order_id }}</p><p><strong>Price:</strong> {{ $('AI Estimator Webhook').item.json.body.price }}</p><p><strong>Status:</strong> Sent to MIS/ERP</p><p>This order has been automatically approved and sent to the MIS system.</p>",
        "options": {}
      },
      "id": "cade089e-1936-4758-aa7c-692c20963f94",
      "name": "Notify CSR - Auto Approved",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1504,
        640
      ],
      "webhookId": "6a3c159d-65fb-46b1-8c9c-639aa5844037",
      "credentials": {
        "smtp": {
          "id": "sEdbgRMpNX7n2A7d",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.backendApiUrl }}/csr/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"order_id\": \"{{ $json.body.order_id }}\",\n  \"status\": \"needs_review\",\n  \"issues\": \"{{ $json.body.issues }}\",\n  \"price\": \"{{ $json.body.price }}\",\n  \"created_at\": \"{{ $now.toISO() }}\"\n}\n",
        "options": {}
      },
      "id": "6ed4615d-0a4a-43e1-bf7c-851752b4031d",
      "name": "Create CSR Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1952,
        832
      ]
    },
    {
      "parameters": {
        "fromEmail": "sunnytomar0199@gmail.com",
        "toEmail": "={{ $('Workflow Configuration').first().json.csrEmail }}",
        "subject": "=[AI-Estimator] Order {{ $('Route by Decision').item.json.body.order_id }} - Needs Review",
        "html": "=<h2>Order Requires CSR Review</h2>\n\n<p><strong>Order ID:</strong> {{ $('Route by Decision').item.json.body.order_id }}</p>\n<p><strong>Price:</strong> {{ $('Route by Decision').item.json.body.price }}</p>\n\n<p><strong>Issues:</strong></p>\n<ul>\n{{ \n  $('Route by Decision').item.json.body.issues && \n  $('Route by Decision').item.json.body.issues.length \n  ? '<li>' + $('Route by Decision').item.json.body.issues.join('</li><li>') + '</li>' \n  : '<li>None</li>' \n}}\n</ul>\n\n<p><strong>Actions:</strong></p>\n\n<p>\n<a href=\"http://localhost:5678/webhook-test/csr-approve\n?order_id={{ $('Route by Decision').item.json.body.order_id }}\n&action=approve\n&price={{ $('Route by Decision').item.json.body.price }}\n&issues={{ encodeURIComponent(( $('Route by Decision').item.json.body.issues || [] ).join(',')) }}\n&email={{ encodeURIComponent($('Workflow Configuration').item.json.body.email) }}\n&csr_email={{ encodeURIComponent($('Workflow Configuration').first().json.csrEmail) }}\"\nstyle=\"background:#28a745;color:white;padding:10px 20px;text-decoration:none;border-radius:5px;display:inline-block;\">\nApprove\n</a>\n\n<a href=\"http://localhost:5678/webhook-test/csr-approve\n?order_id={{ $('Route by Decision').item.json.body.order_id }}\n&action=reject\n&price={{ $('Route by Decision').item.json.body.price }}\n&issues={{ encodeURIComponent(( $('Route by Decision').item.json.body.issues || [] ).join(',')) }}\n&email={{ encodeURIComponent($('Workflow Configuration').item.json.body.email) }}\n&csr_email={{ encodeURIComponent($('Workflow Configuration').first().json.csrEmail) }}\"\nstyle=\"background:#dc3545;color:white;padding:10px 20px;text-decoration:none;border-radius:5px;margin-left:10px;display:inline-block;\">\nReject\n</a>\n</p>\n\n<p>\n  <em>This request will expire in {{ $('Workflow Configuration').first().json.csrWaitHours }} hours.</em>\n</p>\n",
        "options": {}
      },
      "id": "654f17e2-1e6e-4443-9b56-77b2ca9a6826",
      "name": "Email CSR Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1728,
        832
      ],
      "webhookId": "ee442b90-4f09-413e-98f5-29fc231f7dc3",
      "credentials": {
        "smtp": {
          "id": "sEdbgRMpNX7n2A7d",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.query.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "da30e8b8-d44b-4a76-a319-89a6bea1bec4",
      "name": "Check CSR Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2400,
        1344
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://backend:8000/orders/{{ $json.query.order_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"csr_approved\",\n  \"price\": \"{{ $json.query.price }}\",\n  \"issues\": \"{{ $json.query.issues }}\",\n  \"csr_action\": \"{{ $json.query.action }}\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "d767b127-7c8e-46f5-9bab-9c7cf17cf9c5",
      "name": "Update Order Status - CSR Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2176,
        1248
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://backend:8000/orders/{{ $json.query.order_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"csr_rejected\",\n  \"price\": \"{{ $json.query.price }}\",\n  \"issues\": \"{{ $json.query.issues }}\",\n  \"csr_action\": \"{{ $json.query.action }}\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "9e9a5ed9-b119-4716-b94e-bd9729fc820d",
      "name": "Update Order Status - CSR Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2176,
        1440
      ]
    },
    {
      "parameters": {
        "fromEmail": "sunnytomar0199@gmail,com",
        "toEmail": "={{ $('CSR Approval Webhook').item.json.query.email }}",
        "subject": "=[AI-Estimator] Order  {{ $json.order_id }}- Rejected by CSR",
        "html": "=<h2>Order Rejected</h2><p>Dear Customer,</p><p>Your order <strong>{{ $json.order_id }}</strong> has been reviewed and unfortunately cannot be processed at this time.</p><p><strong>Issues identified:</strong></p><ul>{{ $json.issues }}</ul><p>Please contact our customer service team for more information.</p>",
        "options": {}
      },
      "id": "649f9cd9-982c-4e6a-a8b8-34fd53f3a376",
      "name": "Notify Customer - CSR Rejected",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1952,
        1440
      ],
      "webhookId": "9e4dd02d-8299-4e87-a11c-fc40e8b3a381",
      "credentials": {
        "smtp": {
          "id": "sEdbgRMpNX7n2A7d",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "sunnyromar0199@gmail.com",
        "toEmail": "={{ $('CSR Approval Webhook').item.json.query.email }}",
        "subject": "=[AI-Estimator] Order -{{ $json.order_id }} Approval Required",
        "html": "=<h2>Your Approval Required</h2>\n\n<p>Dear Customer,</p>\n\n<p>\n  Your order <strong>{{ $json.order_id }}</strong> has been reviewed and requires your approval to proceed.\n</p>\n\n<p>\n  <strong>Estimated Price:</strong> {{ $json.final_price }}\n</p>\n\n<p><strong>Issues:</strong></p>\n<ul>\n  <li>{{ $json.issues }}</li>\n</ul>\n\n<p><strong>Actions:</strong></p>\n\n<p>\n  <a href=\"http://localhost:5678/webhook-test/customer-approval\n?order_id={{ $json.order_id }}\n&action=approve\n&price={{ $('CSR Approval Webhook').item.json.query.price }}\n&email={{ $('CSR Approval Webhook').item.json.query.email }}\n&csr_email={{ encodeURIComponent($('CSR Approval Webhook').item.json.query.csr_email) }}\"\n     style=\"background:#28a745;color:white;padding:10px 20px;text-decoration:none;border-radius:5px;display:inline-block;\">\n     Approve Order\n  </a>\n\n  <a href=\"http://localhost:5678/webhook-test/customer-approval\n?order_id={{ $json.order_id }}\n&action=reject\n&price={{ $('CSR Approval Webhook').item.json.query.price }}\n&email={{ $('CSR Approval Webhook').item.json.query.email }}\n&csr_email={{ encodeURIComponent($('CSR Approval Webhook').item.json.query.csr_email) }}\"\n     style=\"background:#dc3545;color:white;padding:10px 20px;text-decoration:none;border-radius:5px;margin-left:10px;display:inline-block;\">\n     Reject Order\n  </a>\n</p>\n\n<p>This request will expire in 2 days.</p>\n",
        "options": {}
      },
      "id": "6ceada53-89fa-41a4-833c-dde82702b23d",
      "name": "Send Customer Approval Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1952,
        1248
      ],
      "webhookId": "778808c1-eae9-41bb-a8b9-982670d4ea4f",
      "credentials": {
        "smtp": {
          "id": "sEdbgRMpNX7n2A7d",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.query.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e26a7923-c859-4abb-bfc6-2923c73d3193",
      "name": "Check Customer Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2400,
        1856
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://backend:8000/orders/{{ $json.query.order_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"customer_approved\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "d6f71b9b-9fb7-40b1-b2dc-bd466d8849bd",
      "name": "Update Order Status - Customer Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2176,
        1760
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://backend:8000/orders/{{ $json.query.order_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"customer_rejected\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "bc023aff-600f-4cd1-930e-aca7ef22a729",
      "name": "Update Order Status - Customer Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2176,
        1952
      ]
    },
    {
      "parameters": {
        "fromEmail": "sunnytomar0199@gmail.com",
        "toEmail": "={{ $('Customer Approval Webhook').item.json.query.csr_email }}",
        "subject": "=[AI-Estimator] Order {{ $json.order_id }} - Customer Rejected",
        "html": "=<h2>Customer Rejected Order</h2><p><strong>Order ID:</strong> {{ $json.order_id }}</p><p>The customer has declined to proceed with this order.</p><p>No further action required.</p>",
        "options": {}
      },
      "id": "991a4015-29fb-457b-840d-95c6050b77c3",
      "name": "Notify CSR - Customer Rejected",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1952,
        1952
      ],
      "webhookId": "55a25754-27c7-47d3-b992-44bfddf71402",
      "credentials": {
        "smtp": {
          "id": "sEdbgRMpNX7n2A7d",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "xx",
        "toEmail": "={{ $json.opsEmail }}",
        "subject": "=[AI-Estimator] Order{{ $('AI Estimator Webhook').item.json.body.order_id }} - Rejected",
        "html": "=<h2>Order Rejected</h2><p>Dear Customer,</p><p>Unfortunately, your order <strong>{{ $('AI Estimator Webhook').item.json.body.order_id }}</strong> cannot be processed due to the following issues:</p><ul>{{ $('AI Estimator Webhook').item.json.body.issues }}</ul><p><strong>Recommended fixes:</strong></p><p>Please review the issues above and resubmit your order with the necessary corrections.</p><p>If you have questions, please contact our support team.</p>",
        "options": {}
      },
      "id": "467feb42-9244-4dd8-8019-491692537a4d",
      "name": "Send Rejection Email to Customer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1952,
        1024
      ],
      "webhookId": "bf3dea4d-80c8-4d85-a969-901ece443981",
      "credentials": {
        "smtp": {
          "id": "sEdbgRMpNX7n2A7d",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Workflow Configuration').first().json.backendApiUrl }}/orders/{{ $('AI Estimator Webhook').item.json.body.order_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"rejected\",\n  \"Issues\":\"{{ $('Workflow Configuration').item.json.body.issues }}\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "a4cffa12-9e09-4762-8fda-6ae2e41df5d2",
      "name": "Update Order Status - Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1728,
        1024
      ]
    },
    {
      "parameters": {
        "path": "csr-approve",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "7f257d69-f2ab-43a6-a753-59671606e848",
      "name": "CSR Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2624,
        1344
      ],
      "webhookId": "1232cc73-d7c9-4ef5-8e12-fd44bdd9c130"
    },
    {
      "parameters": {
        "path": "customer-approval",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1c0c185f-1301-4ee2-8160-cadf4cec5cca",
      "name": "Customer Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2624,
        1856
      ],
      "webhookId": "05ddcdea-75ad-42e4-86ee-c2a13dc2511c"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "967a7099-7fe7-4d98-8796-5fc45eaab9a7",
      "name": "Escalation Timer",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2624,
        2176
      ]
    },
    {
      "parameters": {
        "fromEmail": "sunnytomar0199@gmail,com",
        "toEmail": "=csr@test.com",
        "subject": "[ESCALATION] Unresolved Order Review Required",
        "html": "<h2>Escalation Alert</h2><p>One or more orders require immediate attention due to timeout or unresolved status.</p><p>Please review the task management system for details.</p><p><strong>Action Required:</strong> Review and resolve pending orders.</p>",
        "options": {}
      },
      "id": "bb9ccac3-b28f-4a8b-ae6d-78eaa1e000c6",
      "name": "Email Manager - Escalation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -2400,
        2176
      ],
      "webhookId": "e86ae5b1-55aa-41b5-92db-b1dff2ee16b4",
      "credentials": {
        "smtp": {
          "id": "sEdbgRMpNX7n2A7d",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/csr/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"priority\": \"high\",\n  \"title\": \"Escalated Order Review\",\n  \"description\": \"Order timeout - requires immediate manager attention\",\n  \"created_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "4fd15bc3-d0d3-460c-9e72-c1396c69a9b4",
      "name": "Create High Priority Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2176,
        2176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.slackWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"🚨 *Escalation Alert* - Unresolved order review requires immediate attention. Check task system for details.\"\n}",
        "options": {}
      },
      "id": "b6ce782c-90ba-4ca9-832b-318754e29a68",
      "name": "Slack/Teams Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1952,
        2176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "order_id",
              "value": "={{ $json.order_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "price",
              "value": "={{ $json.final_price }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "status",
              "value": "approved",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "fe8434ac-ae13-4f72-a63c-d5583f8360bd",
      "name": "Map to MIS Schema",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1952,
        1760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/mis/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "=order-{{ $json.order_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "e36ea1ad-cb73-4195-a078-e62bca072345",
      "name": "POST to MIS Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1728,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.message }}",
              "rightValue": "Order received by MIS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b18704e-6294-4cda-9c81-51c0123c01eb",
      "name": "Check MIS Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1504,
        1760
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://backend:8000/orders/{{ $('Map to MIS Schema').item.json.order_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"completed\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "7ffb83c0-8657-4425-8254-1d5de3037bc4",
      "name": "Update Order Status - Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        1664
      ]
    },
    {
      "parameters": {
        "fromEmail": "sunnytomar0199@gmail.com",
        "toEmail": "={{ $('Customer Approval Webhook').item.json.query.csr_email }}",
        "subject": "=[ALERT] MIS Handoff Failed - Order {{ $('Customer Approval Webhook').item.json.query.order_id }}",
        "html": "=<h2>MIS Integration Failure</h2><p><strong>Order ID:</strong> {{ $('Map to MIS Schema').item.json.order_id }}</p><p><strong>Error:</strong> Failed to send order to MIS/ERP system.</p><p><strong>Response:</strong>{{ $json.message }} </p><p>A retry record has been created. Please investigate and resolve.</p>",
        "options": {}
      },
      "id": "964d1ee1-4f58-4076-8d1f-76f19d20c5f6",
      "name": "Notify Ops - MIS Failure",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1280,
        1856
      ],
      "webhookId": "04c70395-71df-4549-853c-801f0b23ef7d",
      "credentials": {
        "smtp": {
          "id": "sEdbgRMpNX7n2A7d",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/retry-queue",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"order_id\": \"{{ $('Check Customer Action').item.json.query.order_id }}\",\n  \"failed_at\": \"{{ $now.toISO() }}\",\n  \"error\": \"{{ $('Check MIS Response').item.json.message }}\",\n  \"retry_count\": 0\n}",
        "options": {}
      },
      "id": "9d4e2b54-bd96-4aff-8cf3-828904a8c16d",
      "name": "Log Retry Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1056,
        1856
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "AI Estimator Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Route by Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Decision": {
      "main": [
        [
          {
            "node": "Send to MIS/ERP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create CSR Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to MIS/ERP": {
      "main": [
        [
          {
            "node": "Update Order Status - Auto Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status - Auto Approved": {
      "main": [
        [
          {
            "node": "Notify CSR - Auto Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CSR Task": {
      "main": [
        [
          {
            "node": "Email CSR Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email CSR Team": {
      "main": [
        []
      ]
    },
    "CSR Approval Webhook": {
      "main": [
        [
          {
            "node": "Check CSR Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check CSR Action": {
      "main": [
        [
          {
            "node": "Update Order Status - CSR Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Order Status - CSR Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status - CSR Approved": {
      "main": [
        [
          {
            "node": "Send Customer Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status - CSR Rejected": {
      "main": [
        [
          {
            "node": "Notify Customer - CSR Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Approval Email": {
      "main": [
        []
      ]
    },
    "Customer Approval Webhook": {
      "main": [
        [
          {
            "node": "Check Customer Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Customer Action": {
      "main": [
        [
          {
            "node": "Update Order Status - Customer Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Order Status - Customer Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status - Customer Approved": {
      "main": [
        [
          {
            "node": "Map to MIS Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status - Customer Rejected": {
      "main": [
        [
          {
            "node": "Notify CSR - Customer Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Email to Customer": {
      "main": [
        [
          {
            "node": "Update Order Status - Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Timer": {
      "main": [
        [
          {
            "node": "Email Manager - Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Manager - Escalation": {
      "main": [
        [
          {
            "node": "Create High Priority Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create High Priority Task": {
      "main": [
        [
          {
            "node": "Slack/Teams Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to MIS Schema": {
      "main": [
        [
          {
            "node": "POST to MIS Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to MIS Endpoint": {
      "main": [
        [
          {
            "node": "Check MIS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check MIS Response": {
      "main": [
        [
          {
            "node": "Update Order Status - Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Ops - MIS Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Ops - MIS Failure": {
      "main": [
        [
          {
            "node": "Log Retry Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4b2a4730-6431-4b77-bcea-9e2e1e5d0f60",
  "meta": {
    "instanceId": "4d0f90e4e3cf5ec34de5816b082ed82e3a5d393afcbec68c4a2f670a2ed35d46"
  },
  "id": "D5f7eIx1gO2U3Kkm",
  "tags": []
}